    {% extends 'basic.html' %}
    {% block title %} Booking 3T
    {% endblock title %}
    {% block body %}

    <h3 class="text-center text-dark">Rooms Types</h3>

    <!--Room tables starts here-->
    <div class="container-fluid px-0" style="border:1px solid red">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">Information</th>
                    <th class="text-center">View</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">
                        <!--Room details-->
                        <h1>Vip1</h1>
                        <p>Price:1.000.000 VND/day</p>

                        <p>Size :70 m^2</p>
                        <p>Capacity :Max person 3</p>

                        <p>Services :Wifi,Tv,Bathroom</p>
                        <p> Views :Sea View</p>
                    </td>
                    <td class="text-center">
                        <!--Room Images-->
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTS2ZUkfmCJRRItXDEo0OuJrMkQjAnfwT6sLg&usqp=CAU" alt="" class="img-fluid pt-4">
                    </td>

                </tr>
                <tr>
                    <td class="text-center">
                        <!--Room details-->
                        <h1>Vip Bro</h1>
                        <p>Price: 3.000.000 VND/day</p>

                        <p>Size :100 m^2</p>
                        <p>Capacity :Max person 5</p>

                        <p>Services :Wifi,Tv,Bathroom</p>
                        <p> Views :Sea View</p>
                    </td>
                    <td class="text-center">
                        <!--Room Images-->
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTS2ZUkfmCJRRItXDEo0OuJrMkQjAnfwT6sLg&usqp=CAU"
                            alt="" class="img-fluid pt-4">
                    </td>

                </tr>
                <tr>
                    <td class="text-center">
                        <!--Room details-->
                        <h1>Super Vip</h1>
                        <p>Price:10.000.000 VND/day</p>

                        <p>Size :150 m^2</p>
                        <p>Capacity :Max person 9</p>

                        <p>Services :Wifi,Tv,Bathroom</p>
                        <p> Views :Sea View</p>
                    </td>
                    <td class="text-center">
                        <!--Room Images-->
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTS2ZUkfmCJRRItXDEo0OuJrMkQjAnfwT6sLg&usqp=CAU"
                            alt="" class="img-fluid pt-4">
                    </td>

                </tr>

            </tbody>
        </table>
    </div>
    <!--Roo tables ends here-->

    
    {% endblock body %}
   
   