{% extends 'basic.html' %} {% block title %}Dashboard {% endblock title %} {% block body %}
{% load app_tags %}
<h3 class="text-center  text-success">My Bookings </h3>
<table class="table">
    <thead>
        <th>User</th>
        <th>Room</th>
        <th>Location</th>
        <th>Person</th>
        <th>Check in</th>
        <th>Check out</th>
        <th>Price</th>
        <th>Actions</th>
    </thead>
    {% for each_booking in bookings %}
    <tr>
        <td>{{each_booking.guest.username}}</td>
        <td>{{each_booking.room.roomnumber}}</td>
        <td>{{each_booking.room.hotel.location}}</td>
        <td>{{each_booking.room.capacity}}</td>
        <td>{{each_booking.check_in}}</td>
        <td>{{each_booking.check_out}}</td>
        <td>{{each_booking.room.price}}</td>

        {% if each_booking.is_rate == 0 %}
            <td><a href="/user/vote-room?book_id={{each_booking.id}}"><Button class="btn btn-primary">Vote</Button></a></td>

        {% else %}
            <td><a href=""><Button class="btn btn-primary">Voted</Button></a></td>
        {% endif %}
    </tr>
    {% endfor %}


</table>
{% endblock body %}